<h2>Available drones</h2>
<hr>
<hr>

{{#each drones}}

<div>

    <h1> {{name}} </h1>
    <p>Number of Propellers:  {{propellers}} </p>
    <p>Max Speed:  {{maxSpeed}} </p>

    <a href="/drones/{{_id}}/edit">Edit</a>

   
    <form action="/drones/{{_id}}/delete" method="POST">
    <button type="submit">Delete</button>
    </form>


</div>
<hr>

{{/each}}